.grid {
  display: grid;
  gap: var(--card-grid-gap);
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

.grid-2,
.grid-3,
.grid-4 {
  display: grid;
  gap: var(--card-grid-gap);
}

.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span #{$i};
  }
}

:root {
  --container-desktop: 1440px;
  --container-tablet: 640px;
  --container-mobile: 370px;
  --grid-columns: 12;
}

@media (max-width: 1024px) {
  :root {
    --grid-columns: 8;
  }

  .ta-col-8 {
    grid-column: span 8;
  }

  .ta-col-4 {
    grid-column: span 4;
  }
}

@media (max-width: 768px) {
  :root {
    --grid-columns: 6;
  }

  .mo-col-6 {
    grid-column: span 6;
  }

  .mo-col-3 {
    grid-column: span 3;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}