.main-content-box {
  width: 607px;
  height: 656px;
}

.main-content-box__image {
  width: 607px;
  height: 543px;
  background-color: black;
}

.main-content-box__text {
  margin-top: var(--space-3);
  background: transparent;
}
