.cy-input {
  box-sizing: border-box;
  width: var(--input-width);
  height: var(--input-height);
  padding: var(--input-padding-block) var(--input-padding-inline);
  border: calc(var(--space-1) / 8) solid var(--han500);
  border-radius: var(--radius-input);
  color: var(--ink200);
  caret-color: var(--ink500);
  background: var(--white);

  &::placeholder {
    color: var(--ink200);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:not(:placeholder-shown):not(:disabled) {
    color: var(--ink500);
  }

  &:disabled {
    border-color: var(--han300);
    color: var(--ink200);
    background: var(--han200);
    cursor: not-allowed;
  }
}

.cy-input--filled {
  border-color: var(--han500);
  color: var(--ink500);
}

.cy-input--error {
  border-width: calc(var(--space-1) / 4);
  border-color: var(--danger);
  color: var(--ink500);
}

.cy-input--success {
  border-width: calc(var(--space-1) / 4);
  border-color: var(--success);
  color: var(--ink500);
}

.cy-input--disabled {
  border-color: var(--han300);
  color: var(--ink200);
  background: var(--han200);
}
