// 버튼 공통 속성성

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  
    border-radius: 0.5rem;
    transition: 0.2s ease;
  
    cursor: pointer;
  
    border: 1px solid transparent;
  
    padding: 0.75rem 1.5rem;
  
    @extend .ft-16b;
  
    &:disabled {
      cursor: not-allowed;
    }
  
    &__icon {
      width: 18px;
      height: 18px;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

//   결제하기 버튼

.button--primary-deep {
    color: var(--white);
    background: var(--deep500);
  
    &:hover {
      background: var(--deep600);
    }
  
    &:active {
      background: var(--deep700);
    }
  
    &:disabled {
      background: var(--deep200);
    }
  }

// 예약변경 버튼

.button--secondary-deep {
    color: var(--deep500);
  
    border-color: var(--deep500);
  
    background: transparent;
  
    &:hover {
      color: var(--white);
  
      border-color: var(--deep600);
  
      background: var(--deep50);
    }
  
    &:active {
      color: var(--deep600);
  
      border-color: var(--deep600);
  
      background: var(--deep100);
    }
  
    &:disabled {
      color: var(--deep300);
  
      border-color: var(--deep200);
    }
  }

//   취소 버튼튼

.button--text-deep {
    color: var(--deep500);
  
    background: transparent;
  
    &:hover {
      color: var(--deep600);
      background: var(--deep50);
    }
  
    &:active {
      color: var(--deep600);
      background: var(--deep100);
    }
  
    &:disabled {
      color: var(--deep300);
    }
  }

//   관심등록 버튼

.button--secondary-plum {
    color: var(--plum500);
  
    border-color: var(--plum500);
  
    background: transparent;
  
    &:hover {
      color: var(--white);
  
      border-color: var(--plum600);
  
      background: var(--plum50);
    }
  
    &:active {
      color: var(--plum600);
  
      border-color: var(--plum600);
  
      background: var(--plum100);
    }
  
    &:disabled {
      color: var(--plum300);
  
      border-color: var(--plum200);
    }
  }

//   자세히 버튼

.button--text-plum {
    color: var(--plum500);
  
    background: transparent;
  
    &:hover {
      color: var(--plum600);
      background: var(--plum50);
    }
  
    &:active {
      color: var(--plum600);
      background: var(--plum100);
    }
  
    &:disabled {
      color: var(--plum300);
    }
  }

//   클래스더보기 버튼

.button--more {
    padding: 0.75rem 1.5rem;
  
    color: var(--white);
  
    border: 1px solid var(--white);
  
    background: transparent;
  
    border-radius: 0.5rem;
  
    @extend .ft-18b;
  
    &:hover {
      color: var(--han50);
  
      border-color: transparent;
  
      background: var(--deep500);
    }
  }