:root {
  color-scheme: light;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  color: var(--ink500);
  background: var(--han50);
}